$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #fffafa;
$accent1: #77c4d3;
$primary:  #761C1C ;
$accent2: rgba(199, 155, 168, 0.9);
$text-light: #fff;
$text-dark: rgba(6, 6, 6, 0.794);
